body {
	font-family: "Cambria Math","STIX Two Math", "Latin Modern Math", "Times New Roman", Times, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	line-height: 1.25;
	padding: 20px;
	font-size: x-large;
	background-color: #FFF;
	color: #000;
}

header {
	margin-bottom: 1rem
}

section {
	margin: 1rem 0;
	padding: 1rem;
	border: 1px solid #eee;
	border-radius: 6px;
	background: #fafafa
}

code {
	background: #f6f8fa;
	padding: 2px 6px;
	border-radius: 4px
}
.topcorner {
	position: fixed;
	top: 10px;     /* distance from the top */
	right: 10px;   /* distance from the right */
	/*background: lightblue;*/
	padding: 10px;
}
