*.html
*.pdf
*.swp
*.bak
/.vs
/manim
/q.log
sum/doc/.vs/doc/CopilotIndices/17.14.1091.29919/CodeChunks.db
sum/doc/.vs/doc/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
sum/doc/.vs/doc/FileContentIndex/52a5f227-fb37-477a-98e6-d752bfeab27b.vsidx
sum/doc/.vs/doc/FileContentIndex/1996108a-0287-4428-b4a5-18844163b53d.vsidx
