html {
	background-color: #E0E0E0;
}
body {
	font-family: 'IBM Plex Serif';  /*"Lato"; , "Calisto", "Noto";*/
    margin:  10px auto;
	background-color: white;
/*'Noto Sans', "Segoe UI", 'Calisto','IBM Plex Serif', 'Cambria', Georgia, serif, 'Times New Roman','STIX Two Text';*/
}
@media screen and (min-width: 684px) {
body {
    max-width: 40em;
	word-wrap: break-word;
    /*text-align: left;*/
	padding: 4em 10em; 
	font-size: 110%; 
	font-weight: 400; 
	line-height: 130%; 
	box-shadow: 0px 0px 1px red, 0px 0px 10px rgba(0, 0, 0, 0.7);
}
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}
@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}
.author {
    text-align: center;
}
.date {
    text-align: center;
}
h1 {
    text-align: center;
	color: #606060;
}
h2 {
	padding-top: .5em;
	color: #707070;
}
h3 { color: #808080; }
h4 { color: #A0A0A0; }
sup, sub { vertical-align: 0;
           position: relative; }
sup { bottom: 1ex; }
sub { top: 0.8ex; }

.abstract {
    margin-left:  1em;
    margin-right:  2em;
    font-style: italic;
    text-align: left;
}
.abstract-title {
    text-align: center;
    font-style: normal !important;
    font-weight: 700;
	margin-bottom: 1rem;
}
details {
    margin-left: 1em;
    color: #008080;
	margin-bottom: 10px;
}
details > summary {
	padding: 10px;
}
.katex {
    font-size: 100% !important;
}
.MathJax {
    font-size: 90% !important;
}
