html {
	margin: 0 1in 0 1in;
	padding: 1em;
}
body {
	font-family: Calisto, Cambria, "Lucida Bright", "Segoe UI", Georgia, 'Vesper Libre', serif;
	font-size: large;
	background: #F8F8F8;
	/*background: linear-gradient(to right, #FFF, #F0F0F0);*/
	color: #565656;
}
table {
    border-collapse: collapse;
}
thead tr {
	border-bottom: 1px solid black;
}
td:first-child {
	text-align: right;
	padding-right: 1em;
}
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
