html {
	margin: 1in 1.5in 0 1.5in;
	padding: 1em;
}
body {
	font-family: Calisto, Cambria, "Lucida Bright", "Segoe UI", Georgia, 'Vesper Libre', serif;
	font-size: large;
	background: #F8F8F8;
	/*background: linear-gradient(to right, #FFF, #F0F0F0);*/
	color: #565656;
}
h1, p.author {
	text-align: center;
}
p {
	text-align: justify;
	text-justify: inter-word;
}
table {
    border-collapse: collapse;
}
th {
	border-bottom: 1px solid black;
}
th:nth-child(3) {
	border-left: 1px solid black;
}
.truth tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
details {
	margin-left: 1em;
    color: #00008F;
}
@media only screen and (max-device-width: 480px) {
	html {
		margin: .1in .15in 0 .15in;
		padding: 0em;
	}
	p {
		text-align: left;
		text-justify: none;
	}
}

.katex {
	font-size: 100% !important;
	macros: {
		"\\dom": "\\operatorname{dom}"
		"\\cod": "\\operatorname{cod}"
		"\\ker": "\\operatorname{ker}"
		"\\ran": "\\operatorname{ran}"
		"\\span": "\\operatorname{span}"
		"\\hom": "\\operatorname{hom}"
		"\\Re": "\\operatorname{Re}"
		"\\CC": "\\mathbf{C}"
		"\\FF": "\\mathbf{F}"
		"\\RR": "\\mathbf{R}"
		"\\NN": "\\mathbf{N}"
	  }
}
.katex-display {
	margin-left: 2em !important;
}
#kalx {
    font-family: "Courier";
    font-weight: bold;
    opacity: 20%;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: blue;
}

